.personalboard-page{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.divider-long{
    width: 97%;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    align-self: flex-end;
}
.personal-board-page-wrapper{
    display: flex;
    justify-content: flex-start;
    padding: 50px;
    height: 100%;
    position: relative;
}
.personal-info-left{
   flex: 3;
    display: flex;
    flex-direction: column;
    gap: 22px;
    border-right: 2px solid #F4F6FC;
    height: 100%;
}
.personal-info-left-header{
    display: flex;
    align-items: center;
    gap: 15px;
}
.personal-info-left-header span{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
color: #4C84FF;
}