.sidebar {
  width: 72px;

  height: 851px;
  background-color: #31394e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  padding: 29px 0;
  transition: 150ms ease;
  position: relative;
}
.opened-sidebar {
  width: 220px;
  align-items: center;
  transition: 150ms ease;
}
.divider {
  width: 100%;
  background-color: white;
  height: 1px;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
  color: white;
  transition: 100ms ease-in-out;
  height: 24px;
  width: 100%;
}
.icon-opened {
  align-items: center;
  justify-content: left;
  gap: 10px;
}
.icon img {
  width: 20px;
  height: 20px;
}
.icon:nth-child(6) img {
  width: 80px;
  height: 80px;
  margin-left: -7px;
}
.sidebar-top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 10px;
  transition: 100ms ease-in-out;
}
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 350px;
  gap: 15px;
}
.sidebar-bottom img {
  width: 20px;
  height: 20px;
}
.sidebar-bottom-opened {
  flex-direction: row;
  margin-top: 350px;
}
.teams {
  display: flex;
  gap: 15px;
  align-items: center;
}
.teams-closed {
  display: none;
  /* transition: 150ms ease-in-out; */
}
.teams-open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: white;
  transition: 150ms ease-in-out;
}
.teams-open p {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: #ffffff;
}
.teams-open h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;

  color: #ffffff;
}
.b2 {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  color: pink;
}
