.PersonalBoardInfo{
    display: flex;
    height: 100%;
    padding: 0 50px;
   
    flex: 8;
}

.personal-info-right{
    flex:8
}


.personal-info-right{
    display: flex;
    flex-direction: column;
    gap: 25px;
   
    
}
.personal-info-right h3 {
    font-size: 24px;
    font-weight: 400;
    color: #31394E;
    line-height: 28px;
}
.info-form{
    display: flex;
    flex-direction: column;

    
}
.avatar{
display: flex;
flex-direction: column;
color: #ADB0B8;
gap: 12px;
}
.avatar img{
    width: 40px;
    gap: 15px;
}
.info-input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 523px;
    
}
.info-input input{
    height: 32px;
    border: 2px solid #D9DBDE;
    border-radius: 4px;
    padding: 5px;
}
.info-input input:focus{
outline: none;
}
.info-form h4{
    color: rgba(49, 57, 78, 0.5);
    margin-top: 36px;
}
.info-form h5{
    color: rgba(49, 57, 78, 0.5);
    margin-top: 24px;
    margin-left: 7px;
}
.buttons-wrapper{
    width: 100%;
    display: flex;
   margin-top: 50px;
    align-self: flex-start;
    gap: 100px;
    
 
}
select{
border: 2px solid #D9DBDE;
border-radius: 4px;
width: 170px;
height: 32px;
}